
*.db

*.pcm

*.timestamp

*.modulevalidation

DerivedData/SwiftyCubeSample/Build/Intermediates/SwiftyCubeSample.build/Debug-iphonesimulator/SwiftyCubeSample.build/dgph

*.o

*.swiftdoc

*.swiftmodule

*.d

*.swiftdeps

*.dia

*.hmap

*.dylib

*.strings-sym

*.strings-res

*.strings-moduleurl

*.strings-file

*.xcactivitylog

*.strings-dir

*.strings-cmp

*.xcindexdb-wal

*.xcindexdb-shm

*.xcindexdb

*.idx
