
*.db

*.pcm

*.timestamp

*.modulevalidation

/DerivedData

/SwiftyCubeSample.xcodeproj/xcuserdata

/SwiftyCubeSample.xcodeproj/project.xcworkspace

*.o

*.swiftdoc

*.swiftmodule

*.d

*.swiftdeps

*.dia

*.hmap

*.dylib

*.strings-sym

*.strings-res

*.strings-moduleurl

*.strings-file

*.xcactivitylog

*.strings-dir

*.strings-cmp

*.xcindexdb-wal

*.xcindexdb-shm

*.xcindexdb

*.idx
